[Desktop Entry]
Name=Parquet Explorer
Exec=parquet-explorer
Icon=${SNAP}/meta/gui/fav.ico
Type=Application
Categories=Development;Utility;Database;
Comment=View and explore Parquet files
Terminal=false
