[Desktop Entry]
Name=Parquet Explorer
Exec=${SNAP}/bin/parquet-explorer
Icon=${SNAP}/meta/gui/icon.png
Type=Application
Categories=Development;Utility;Database;
Comment=View and explore Parquet files
Terminal=false
