[Desktop Entry]
Name=Parquet Explorer
Exec=parquet-explorer %F
Icon=${SNAP}/meta/gui/icon.png
Type=Application
Categories=Development;Utility;Database;
Comment=Official Parquet Explorer — view and edit Parquet files
Terminal=false
StartupNotify=true
