name: CI/CD

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  test-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest
    - name: Run tests
      run: pytest tests/
    - name: Build executable
      run: |
        pip install pyinstaller
        pyinstaller main.spec
    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: parquet-explorer-windows
        path: dist/ParquetViewer.exe

  test-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest
    - name: Run tests
      run: pytest tests/
    - name: Build executable
      run: |
        pip install pyinstaller
        pyinstaller --onefile -n ParquetViewer main.py
    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: parquet-explorer-linux
        path: dist/ParquetViewer